<div fxLayout="column" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="21px">
    <mat-form-field fxFlex="50" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput required formControlName="firstName" placeholder="First Name">
    </mat-form-field>

    <mat-form-field fxFlex="50" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="Last Name">
    </mat-form-field>
  </div>
</div>
