<div fxLayout="column" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="21px">
    <mat-form-field fxFlex="50" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput required formControlName="phone" placeholder="Phone Number">
    </mat-form-field>

    <mat-form-field fxFlex="50" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput required formControlName="email" placeholder="Email">
    </mat-form-field>
  </div>
</div>
