<div fxLayout="column" [formGroup]="form">

  <!-- <mat-radio-group fxLayout="column">
    <mat-label>Transaction Type</mat-label>
    <mat-radio-button color="warn" value="charge">Charge</mat-radio-button>
    <mat-radio-button color="accent" value="payment">Payment</mat-radio-button>
  </mat-radio-group> -->

  <mat-form-field appearance="outline">
    <mat-select placeholder="Transaction Type" required formControlName="type">
      <mat-option color="warn" value="charge">Charge</mat-option>
      <mat-option color="accent" value="payment">Payment</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" placeholder="Amount" type="number">
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput formControlName="timestamp" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-form-field>
</div>
