<h2>Transactions</h2>

<mat-accordion>
  <mat-expansion-panel
    *ngFor="let tx of transactions | async"
    hideToggle="true">

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ tx.amount | currency }}
      </mat-panel-title>
      <mat-panel-description>
        {{ tx.timestamp | date }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <crm-edit-transaction #editTransaction [transaction]="tx">
    </crm-edit-transaction>

    <mat-action-row *ngIf="editTransaction.form.dirty">
      <button
        [disabled]="!editTransaction.valid"
        (click)="updateTransaction(tx.id, editTransaction.value)"
        mat-raised-button
        color="primary">
        Save
      </button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="noTransactions | async">
  No transactions yet
</p>

<crm-edit-transaction #newTransaction>
</crm-edit-transaction>
<button
  [disabled]="!newTransaction.valid"
  (click)="addTransaction(newTransaction.value)"
  mat-raised-button
  color="primary">
  Create
</button>
