<div  [formGroup]="form" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="21px">
  <mat-form-field fxFlex="30" appearance="outline">
    <mat-select placeholder="Transaction Type" required formControlName="type">
      <mat-option color="warn" value="charge">Charge</mat-option>
      <mat-option color="accent" value="payment">Payment</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="35" appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" placeholder="Amount" type="number">
  </mat-form-field>


  <mat-form-field fxFlex="35" appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput formControlName="timestamp" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-form-field>
</div>
