:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;


  mat-sidenav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  mat-sidenav-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1rem;
  }

  .mat-drawer {
    position: relative;
  }

}
