<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <crm-customer-list></crm-customer-list>

    <mat-divider></mat-divider>

    <button
      crmCustomerCreator
      mat-button
      color="primary"
      fxLayout="row"
      fxLayoutAlign="center baseline"
      class="sidenav-button">
      <mat-icon>add</mat-icon>
      <span>&nbsp;New Customer</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      (click)="sidenav.toggle()"
      mat-icon-button
      class="sidenav-icon-trigger"
      [ngClass]="sidenav.opened ? 'sidenav-icon-trigger--left' : ''"
      fxLayout="row"
      fxLayoutAlign="center baseline">
      <mat-icon>chevron_right</mat-icon>
    </button>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
