@import '~@angular/material/theming';

$primary-color-map: $mat-light-blue;
$primary-hue: 700;
$primary-hue-light: 700;
$primary-hue-dark: 900;
$accent-color-map: $mat-light-green;
$accent-hue: A200;

$primary-palette: mat-palette($primary-color-map, $primary-hue, $primary-hue-light, $primary-hue-dark);
$accent-palette: mat-palette($accent-color-map, $accent-hue, A100, A400);
$theme: mat-light-theme($primary-palette, $accent-palette);
@include angular-material-theme($theme);

$primary-color: mat-color($primary-color-map, $primary-hue);
$primary-color-light: mat-color($primary-color-map, $primary-hue-light);
$primary-color-dark: mat-color($primary-color-map, $primary-hue-dark);
$accent-color: mat-color($accent-color-map, $accent-hue);
