<mat-nav-list>
  <mat-list-item
    *ngFor="let customer of customerService.customers | async"
    routerLink="/customers/{{customer.id}}"
    [routerLinkActive]="['active']"
    #rla="routerLinkActive"
    queryParamsHandling="preserve">
    <h4 matLine>{{ customer.name?.firstName }} {{ customer.name?.lastName }}</h4>
    <p [ngClass]="{ 'negative': customer.balance < 0}" matLine>{{ customer.balance | currency }}</p>
    <mat-icon *ngIf="rla.isActive">person</mat-icon>
  </mat-list-item>
</mat-nav-list>
