<mat-nav-list>
  <mat-list-item
    *ngFor="let customer of customerService.customers | async"
    routerLink="/customers/{{customer.id}}"
    queryParamsHandling="preserve">
    <p matLine>{{ customer.name?.firstName }} {{ customer.name?.lastName }}</p>
  </mat-list-item>
</mat-nav-list>

<div fxLayout="column">
  <button
    (click)="createNewCustomer()"
    mat-button
    color="primary"
    fxLayout="row"
    fxLayoutAlign="center baseline"
    class="new-customer-button">
    <mat-icon>add</mat-icon>&nbsp;New Customer
  </button>
</div>
