@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  mat-nav-list {
    overflow-y: auto;
    padding: 0;
  }

  mat-list-item.active {
    & *::ng-deep {
      color: $primary-color;
    }

    background-color: $black-6-opacity;
  }
}
