<mat-progress-bar
  *ngIf="updating | async"
  class="customer-update-loader"
  mode="indeterminate">
</mat-progress-bar>

<div class="customer-banner mat-typography">
  <h3 class="customer-banner__name">{{ fullName | async }}</h3>
  <h1 class="customer-banner__balance">Balance $0.00</h1>
</div>

<div>
  <mat-tab-group
    backgroundColor="primary"
    (selectedTabChange)="tabChanged($event)"
    [selectedIndex]="selectedTabIndex | async"
    [dynamicHeight]="true"
    class="demo-tab-group">

    <mat-tab label="Name">
      <ng-template mat-tab-label>
        <mat-icon>person</mat-icon>
        <span>Personal</span>
      </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <h2>Name</h2>
          <crm-name-form
            #nameForm
            [disabled]="updating | async"
            [model]="customer | async | prop:'name'">
          </crm-name-form>
          <mat-card-actions>
            <button
              [disabled]="!nameForm.form.valid || !nameForm.form.dirty"
              (click)="updateCustomer('name', nameForm.value)"
              mat-raised-button
              color="primary">
              Save
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-tab>

    <mat-tab label="Contact">
      <ng-template mat-tab-label>
        <mat-icon>phone</mat-icon>
        <span>Contact</span>
      </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <h2>Contact</h2>
          <crm-contact-form
            #contactForm
            [disabled]="updating | async"
            [model]="customer | async | prop:'contact'">
          </crm-contact-form>
          <mat-card-actions>
            <button
              [disabled]="!contactForm.form.valid || !contactForm.form.dirty"
              (click)="updateCustomer('contact', contactForm.value)"
              mat-raised-button
              color="primary">
              Save
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-tab>

    <mat-tab label="Address">
      <ng-template mat-tab-label>
        <mat-icon>location_on</mat-icon>
        <span>Address</span>
      </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <h2>Address</h2>
          <crm-address-form
            #addressForm
            [disabled]="updating | async"
            [model]="customer | async | prop:'address'">
          </crm-address-form>
          <mat-card-actions>
            <button
              [disabled]="!addressForm.form.valid || !addressForm.form.dirty"
              (click)="updateCustomer('address', addressForm.value)"
              mat-raised-button
              color="primary">
              Save
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-tab>

    <mat-tab label="Transactions">
      <ng-template mat-tab-label>
        <mat-icon>payment</mat-icon>
        <span>Transactions</span>
      </ng-template>
      <ng-template matTabContent>
        <crm-transaction-list [cid]="cid | async">
        </crm-transaction-list>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
