<div fxLayout="column" [formGroup]="form">

  <!-- <mat-radio-group fxLayout="column">
    <mat-label>Transaction Type</mat-label>
    <mat-radio-button color="warn" value="charge">Charge</mat-radio-button>
    <mat-radio-button color="accent" value="payment">Payment</mat-radio-button>
  </mat-radio-group> -->
  <mat-form-field appearance="outline">
    <mat-label>Address 1</mat-label>
    <input matInput formControlName="line1" placeholder="Address 1">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-select placeholder="State" required formControlName="state">
      <mat-optgroup *ngFor="let group of stateGroups" [label]="group.country">
        <mat-option
          *ngFor="let state of group.states"
          [value]="state.abbreviation">
          {{ state.name }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Postal Code</mat-label>
    <input matInput formControlName="zip" placeholder="Postal Code">
  </mat-form-field>

  <!-- <mat-form-field appearance="outline">
    <mat-select placeholder="Country" required formControlName="country">
      <mat-option value="USA">United States</mat-option>
      <mat-option value="CAN">Canada</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
<pre>{{ form.valid | json }}</pre>
<pre>{{ form.value | json }}</pre>
